*{ font-family: libre baskerville; }
.cover-section {
	text-align: center;
	height: 400px;
	background-image: url("../img/galaxy.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.cover-name {
	padding-top: 10px;
}

.cover-para {
	margin-bottom: 0px;
}

.title {
	background: #6c7896;
	margin-top: 150px;
	border-style: solid;
	color: white;
}

.main {
	height: 400px;
	width: 100%;
	background-color: lightgray;
	text-align: center;
}

.github-button {
	color: white;
	font-size: 2.25rem;
}

.portfolio-title {
	width: 100%;
	background-color: lightgray;
	text-align: center;
}

.project {
	text-align: center;
}

.resource-row {
	height: 200px;
	width: 100%;
	background-color: lightgray;
	text-align: center;
}

.header-nav {
	padding-left: 0px;
	padding-right: 0px;
}

.main-title {
	text-align: center;
}

.prof-photo {
	text-align: left;
}

.main-about {
	text-align: center;
}

.portfolio-section { 
    text-decoration:underline;
}

.about-me-section {

}

.footer-author {
	height: 25px;
	width: 100%;
	background-color: #6c7896;
	color: white;
}
