.cover-section {
	text-align: center;
	height: 400px;
	background-image: url("../img/otter-cover.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.cover-name {
	padding-top: 10px;
}

.title {
	background: rgba(255,255,255,0.3);
	margin-top: 150px;
	border-style: solid;
	color: white;
}

.main {
	height: 400px;
	width: 100%;
	background-color: lightgray;
	text-align: center;
}

.portfolio-title {
	height: 50px;
	width: 100%;
	background-color: lightgray;
	text-align: center;
}

.project {
	text-align: center;
}

.resource-row {
	height: 200px;
	width: 100%;
	background-color: lightgray;
	text-align: center;
}

.header-nav {
	padding-left: 0px;
	padding-right: 0px;
}

.main-title {
	text-align: center;
}

.prof-photo {
	text-align: center;
}

.main-about {
	text-align: center;
}